doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title Patients-Physicans Network

    ul.nav
      li: a(href='/') Home
      li: a(href='#patients.html') Patients
      li: a(href='#physicians.html') Physicians
      li: a(href='#about.html') About
    
    .main-content
      block content

    .footer
      p Copyright © MIT licensce.
